@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}
body {
    background-image: linear-gradient(to right, #FFE2A3, #DFBE79);
}
main {
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #947a42;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color:#917840;
    text-align: center;
    text-shadow: 1px 1px 0px #917840;

}

h2{
    color: #315391


}
p {
    text-align: justify;
}